{% extends "index.html" %} {% block content %}
<div class="card text-center">
  <div class="card-header">About Us</div>
  <div class="card-body">
    <h5 class="card-title">Our Story</h5>
    <p class="card-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec diam non
      nisi faucibus aliquet. Nullam id dolor elit.
    </p>
    <a href="#" class="btn btn-primary">Learn More</a>
  </div>
  <div class="card-footer text-muted">© 2023 CheckFast Company</div>
</div>
{% endblock %}
