{% extends "index.html" %} {% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-dark text-white">
          <h4 class="my-0 fw-normal">Oddiy</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            Bepul<small class="text-muted"></small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>- Test blanka yaratish</li>
            <li>- Pdfga aylantirish va yuklab olish</li>
            <li>- Ochiq test savollarini tekshirish</li>
            <li>- Email orqali yordam</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'register' %}"
              >Bepul ro'yxatdan o'tish</a
            >
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-primary text-white">
          <h4 class="my-0 fw-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            69k <small class="text-muted">/ mo</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>+ Oddiy ta'rif</li>
            <li>- Yopiq testlarni tekshirish</li>
            <li>- Oylik va yillik statistikalar</li>
            <li>- O'zlashtirish ko'rsatkichlari va maslahatlar</li>
            <li>- Yordam markazi bilan bog'lanish</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">
            To'lovga o'tish
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-dark text-white">
          <h4 class="my-0 fw-normal">Enterprise</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            99k <small class="text-muted">/ mo</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>+ Oddiy ta'rif</li>
            <li>+ Pro ta'rif</li>
            <li>- Insholar va vazifalarni tekshirish</li>
            <li>- Turli dizayndagi shablonlar</li>
            <li>- Qo'shimcha topshiriqlar</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">
            Bog'lanish
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% comment %} {% block content %}

<h1>Narxlar to'plami</h1>

<div class="table-responsive">
  <table class="table align-middle">
    <thead>
      <tr>
        <td></td>
        <td>Free</td>
        <td>Monthly</td>
        <td>Premium</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Create Quiz</td>
        <td>+</td>
        <td>+</td>
        <td></td>
      </tr>
      <tr>
        <td>Online Quiz Results</td>
        <td>+</td>
        <td>+</td>
        <td></td>
      </tr>
      <tr>
        <td>Export to PDF</td>
        <td>+</td>
        <td>+</td>
        <td></td>
      </tr>
      <tr>
        <td>Test Blanks</td>
        <td>+</td>
        <td>+</td>
        <td></td>
      </tr>
      <tr>
        <td>OCR checking</td>
        <td>-</td>
        <td>+</td>
        <td></td>
      </tr>
      <tr>
        <td>Subcription</td>
        <td>0 sum</td>
        <td>69 000 sum</td>
        <td>Contact us!</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %} {% endcomment %}
