{% extends "index.html" %} {% block content %}

<h1>Narxlar to'plami</h1>

<div class="table-responsive">
  <table class="table align-middle">
    <thead>
      <tr>
        <td></td>
        <td>Free</td>
        <td>Monthly</td>
        <td>Premium</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Create Quiz</td>
        <td>+</td>
        <td>+</td>
        <td></td>
      </tr>
      <tr>
        <td>Online Quiz Results</td>
        <td>+</td>
        <td>+</td>
        <td></td>
      </tr>
      <tr>
        <td>Export to PDF</td>
        <td>+</td>
        <td>+</td>
        <td></td>
      </tr>
      <tr>
        <td>Test Blanks</td>
        <td>+</td>
        <td>+</td>
        <td></td>
      </tr>
      <tr>
        <td>OCR checking</td>
        <td>-</td>
        <td>+</td>
        <td></td>
      </tr>
      <tr>
        <td>Subcription</td>
        <td>0 sum</td>
        <td>69 000 sum</td>
        <td>Contact us!</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
