{% extends "index.html" %} {% block content %}

<div class="container ">
  <div class="row">
    <br></br>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <p align="center" class="sign">Hello buddy!</p>

      <form class="form" method="POST">
        {% csrf_token %} {% if messages %} {% endif %}
        <div class="mb-3">
          <label for="exampleInputUsername1" class="form-label">Username</label>
          <input
            type="username"
            class="form-control"
            id="exampleInputUsername1"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <p align="center" class="forgot">
        <a href="register"> Don't have an account? Register </a>
      </p>
    </div>
    <div class="col"></div>
  </div>
</div>

{% endblock %}
